<p id="notice"><%= notice %></p>


<%= high_chart("container", @h) %>

<div id="container"></div>
<h1>Action History</h1>
<%= link_to "Add an Action", new_history_url(devise_id: @devise.id) %>

<% i = 1 %>
<% @devise.histories.each do |x| %>
<p>

    <b>Action #<%= i %></b><br>
    Call:  <%= x.action %><br>
    Level:  <%= x.level %><br>
    <br>
    <% i += 1 %>
<% end %>
</p>

<%= link_to 'Back', devises_path %>
